# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore archive files
archieve/

# Ignore downloaded files
downloaded_files/

# Ignore MISUMI_Home folder and everything inside it
MISUMI_Home/
Misumi-US-Project/ 
